<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <h1>Sign up</h1>
  <form action="/register" method="post">
    <label for="username">
      Username
      <input type="text" name="username" id="username">
    </label>
    <label for="email">
      email
      <input type="email" name="email" id="email">
    </label>
    <label for="password">
      password
      <input type="password" name="password" id="password">
    </label>
    <label for="confPassword">
      Confirm Password
      <input type="password" name="confPassword" id="confPassword">
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

</html>