* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 { 
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px
}



.btn {
  align-self: center;
  padding: 5px 20px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.folder-container {
  display: grid;
  grid-template-columns: auto .5fr 1.2fr 1fr;
}

.folder-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.folder-item {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.folder-item.folder-name:hover {
  cursor: pointer;
  background-color: #ddd;
}

.folder-item a {
  display: block;
}

.upload-form {
  background-color: #e7e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  padding: 20px;
  border-radius: 20px;
}

#fileToUp {
}